
<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Reset password</h3>
		<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
		<div class="card-text">
			<form method="post">

				{% csrf_token %}
				{{form}}
				<input type="Submit" name="Send email">
	
			</form>
			<!-- <form>
				<div class="form-group">
					<label for="exampleInputEmail1">Enter your email address and we will send you a link to reset your password.</label>
					<input type="email" class="form-control form-control-sm" placeholder="Enter your email address">
				</div>

				<button type="submit" class="btn btn-primary btn-block">Send password reset email</button>
			</form> -->
		</div>
	</div>
</div>